<p>
  <strong>Название:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @service.price %>
</p>

<%= link_to 'Изменить эту запись', edit_service_path(@service), class: 'btn btn-outline-warning' %> |
<%= link_to 'Посмотреть все', services_path, class: 'btn btn-outline-secondary' %>
