<p>
  <strong>Название:</strong>
  <%= @type.name %>
</p>
<%= link_to 'Изменить эту запись', edit_type_path(@type), class: 'btn btn-outline-warning' %> |
<%= link_to 'Посмотреть все', types_path, class: 'btn btn-outline-secondary' %>
