<div class="container">
  <div class="row">
    <div class="alert-message">
      <%= bootstrap_flash %>
    </div>

    <h1>Home#index</h1>
    <p>Find me in app/views/home/index.html.erb</p>
    <%= link_to 'Визит', visits_path %>
    <br/>
    <%= link_to 'Войти', new_user_session_path %>
  </div>
</div>