default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: db/beauty_development.sqlite3

test:
  <<: *default
  database: db/beauty_test.sqlite3

production:
  adapter: postgresql
  encoding: unicode
  pool: 5
  database: beauty_production
  username: ''
  password: ''
